* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Projects-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}
.map-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  pointer-events: none;
  z-index: 2;
}

.map-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marker {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 100;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.marker .tech-circle {
  width: 100px;
  height: 100px;
}
.marker:hover {
  transform: translate(-50%, -50%) scale(1.15);
}
.marker .tech-circle {
  background-color: rgba(0, 0, 0, 0.178);
  border-radius: 100px;
}
.seriumIcon {
  top: 42%;
  left: 68%;
}

.visualN {
  top: 28%;
  left: 46%;
}

.voxaive {
  top: 68%;
  left: 67%;
}

.containerTXT-Proj {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6% 0;
  gap: 20px;
}

.Projects-container h2 {
  font-family: "Thewitcher", serif;
  font-size: 35px;
  width: 95%;
  text-align: start;
  background: linear-gradient(white, #2c2c2c);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.000001px #ffffff70;
}

.Projects-container h2 span {
  background: linear-gradient(#ad212a, #470e11);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.centr-Projects {
  width: 95%;
  display: grid;
  gap: 10px;
}

.ProjectImage .ant-image-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .seriumIcon {
    top: 42%;
    left: 83%;
  }
  .project {
    width: 50% !important;
  }
  .visualN {
    top: 28%;
    left: 72%;
  }

  .voxaive {
    top: 68%;
    left: 84%;
  }
}
@media (max-width: 950px) {
  .marker {
    display: none;
  }
  .centr-Projects {
    width: 95%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .map-wrapper {
    display: none;
  }
  .Projects-container {
    background-image: linear-gradient(#0000003b, #0000006e),
      url(../../images/map.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .project {
    width: 100% !important;
  }
  .Projects-container .containerTXT-Proj {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 23;
    padding: 6% 0;
    gap: 20px;
  }
}
@media (max-width: 850px) {
  .map-wrapper {
    height: 80vh;
  }
}

@media (max-width: 425px) {
  .marker {
    width: 36px;
    height: 36px;
  }

  .centr-Projects {
    grid-template-columns: 1fr;
  }
}
